@import "tailwindcss";

/* カスタムボックスシャドウ */
.shadow-custom {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

/* ダークモード対応のbodyスタイル */
body {
  background-color: white;
  color: #111827;
  transition: color 0.2s, background-color 0.2s;
  font-family: Arial, Helvetica, sans-serif;
}

.dark body {
  background-color: #111827;
  color: white;
}

/* ダークモードドロップダウンメニュー用のカスタムスタイル */
.dark-mode-dropdown {
  background-color: white;
  color: #374151;
}

.dark .dark-mode-dropdown {
  background-color: #111827 !important;
  color: #d1d5db;
}

.dark-mode-border {
  border-color: #181a1f;
}
/* swiperスタイルのオーバーライド */
.swiper-button-prev,.swiper-button-next  {
  width: 20px !important;
  height: 20px !important;
  top: 60% !important;
  border-radius: 100vmax;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .05);
  background-color: #fff;
}

.dark .swiper-button-prev,
.dark .swiper-button-next {
  background-color: #2a2e36 !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 12px !important;
}

