@import "tailwindcss";

/* ダークモード対応のbodyスタイル */
body {
  background-color: white;
  color: #111827;
  transition: color 0.2s, background-color 0.2s;
  font-family: Arial, Helvetica, sans-serif;
}

.dark body {
  background-color: #111827;
  color: white;
}

/* ダークモードドロップダウンメニュー用のカスタムスタイル */
.dark-mode-dropdown {
  background-color: white;
  color: #374151;
}

.dark .dark-mode-dropdown {
  background-color: #111827 !important;
  color: #d1d5db;
}

.dark-mode-border {
  border-color: #181a1f;
}